.login {
  position: absolute;
  width: 45%;
  min-height: 200px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px #965ba5;
  border: 1px solid #ededed;
  transition: box-shadow 0.6s, width 0.3s;
  background-color: #f0f2f5;
  z-index: 1;
  &:hover {
    box-shadow: 0px 0px 12px 2px #965ba5;
  }
  .logo-wrapper {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    img {
      width: 100%;
    }
    margin-bottom: 20px;
  }
  .form-item {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    .form-field {
      width: 100%;
    }
  }
  &-btn {
    width: 60%;
    margin-top: 10px;
    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      &-loading {
        margin-right: 5px;
      }
    }
  }
  @media (max-width: 900px) {
    width: 70%;
    .logo-wrapper {
      width: 60%
    }
    .form-item {
      width: 80%;
    }
    &-btn {
      width: 80%;
    }
  }
}
