<div class="viewform inner-card mat-elevation-z3">
  <h2>Detail of Expense</h2>
  <div class="form">
    <div class="form-item" *ngFor="let formitem of orderArray">
      <div class="form-item-label">{{ displayName[formitem] }} :</div>
      <div class="form-item-value">
        {{
          formitem === 'startTime' || formitem === 'endTime'
            ? (dataSource[formitem] | date: 'yyyy-MM-dd')
            : (dataSource[formitem] | numberFormat)
        }}
      </div>
    </div>
    <div class="form-item full-width">
      <div class="form-item-label">Reason :</div>
      <div class="form-item-value">
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Please enter reason if you want to reject"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="viewform-control">
    <ng-container *ngIf="type === 'approve'">
      <button mat-raised-button color="primary" (click)="changeStatus('approve')">Approve</button>
      <button mat-raised-button color="primary" (click)="changeStatus('reject')">Reject</button>
    </ng-container>
    <button mat-raised-button (click)="handleBack()">Back</button>
  </div>
  <app-loading [visible]="loading"></app-loading>
</div>
