<div class="viewform inner-card mat-elevation-z3">
  <h2>Detail of Expense</h2>
  <div class="form">
    <div class="form-item" *ngFor="let formitem of orderArray">
      <div class="form-item-label">{{ displayName[formitem] }} :</div>
      <div class="form-item-value">
        {{
          formitem === 'startTime' || formitem === 'endTime'
            ? (dataSource[formitem] | date: 'MM-dd-yyyy')
            : (dataSource[formitem] | numberFormat)
        }}
      </div>
    </div>
    <div *ngIf="type === 'approve'" class="form-item full-width">
      <div class="form-item-label">Comment :</div>
      <div class="form-item-value">
        <mat-form-field appearance="outline">
          <textarea
            matInput
            placeholder="Must enter a comment if you want to reject"
            [(ngModel)]="commentVal"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="viewform-control">
    <button mat-raised-button (click)="handleBack()">Back</button>
    <ng-container *ngIf="type === 'approve'">
      <button
        mat-raised-button
        color="primary"
        (click)="changeStatus('reject')"
        [disabled]="!commentVal"
      >
        Reject
      </button>
      <button mat-raised-button color="primary" (click)="changeStatus('approve')">Approve</button>
    </ng-container>
  </div>
  <app-loading [visible]="loading"></app-loading>
</div>
