<div class="apply inner-card mat-elevation-z3">
  <header class="apply-header">
    <h2>List Of Expenses</h2>
  </header>

  <section class="apply-form">
    <form #searchform [formGroup]="form" (ngSubmit)="handleSearch()">
      <mat-form-field appearance="outline">
        <mat-label>Expense Type</mat-label>
        <mat-select name="type" formControlName="type">
          <mat-option *ngFor="let expenseType of expenseTypeOption" [value]="expenseType.value">
            {{ expenseType.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select name="status" formControlName="status">
          <mat-option *ngFor="let status of requestStatusOption" [value]="status.value">
            {{ status.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Reason</mat-label>
        <input matInput placeholder="Please enter reason" formControlName="reason" />
      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="spicker" formControlName="startTime" />
        <mat-datepicker-toggle matSuffix [for]="spicker"></mat-datepicker-toggle>
        <mat-datepicker #spicker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="epicker" formControlName="endTime" />
        <mat-datepicker-toggle matSuffix [for]="epicker"></mat-datepicker-toggle>
        <mat-datepicker #epicker disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>
    <div class="form-btn-group">
      <ng-container *ngIf="!accountService.isAdmin">
        <button class="add-btn" mat-raised-button color="primary" (click)="handleAddApply($event)">
          <mat-icon>add</mat-icon>
          <span>Apply</span>
        </button>
      </ng-container>
      <div class="flex-spacer"></div>
      <button mat-raised-button (click)="handleReset($event)">Reset</button>
      <button class="search-btn" mat-raised-button color="primary" (click)="handleSearch()">
        Search
      </button>
    </div>
  </section>

  <section class="apply-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type || 'Unknown' }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <app-badge [status]="element.statusBadge" [text]="element.statusDisplayName"></app-badge>
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount | numberFormat }}
        </td>
      </ng-container>

      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef>Reason</th>
        <td mat-cell *matCellDef="let element">{{ element.reason }}</td>
      </ng-container>

      <ng-container matColumnDef="createTime">
        <th mat-header-cell *matHeaderCellDef>Request Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createTime | date: 'MM-dd-yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef>startTime</th>
        <td mat-cell *matCellDef="let element">
          {{ element.startTime | date: 'MM-dd-yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef>endTime</th>
        <td mat-cell *matCellDef="let element">
          {{ element.endTime | date: 'MM-dd-yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.statusDisplayName === 'Submitted'; else viewLink">
            <ng-container *ngIf="accountService.isAdmin">
              <button mat-stroked-button [routerLink]="'/apply/approve/' + element.id">
                Approve
              </button>
            </ng-container>
            <ng-container *ngIf="!accountService.isAdmin">
              <button mat-stroked-button (click)="handleCancel(element.id)">Cancel</button>
            </ng-container>
          </ng-container>
          <ng-template #viewLink>
            <ng-container *ngIf="accountService.isAdmin">
              <button mat-stroked-button [routerLink]="'/apply/view/' + element.id">View</button>
            </ng-container>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
  <mat-paginator
    [length]="totalLength"
    [pageIndex]="defaultPaginationConf.index"
    [pageSize]="defaultPaginationConf.size"
    showFirstLastButtons
  ></mat-paginator>
  <!-- <app-loading [visible]="loading"></app-loading> -->
</div>
<app-loading [visible]="loading"></app-loading>
