/* You can add global styles to this file, and also import other style files */
@import './mixin.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f0f2f5;
}

.flex-spacer {
  flex: 1;
}

.inner-card {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  width: calc(100% - 40px);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  // for horizontal scrollbar
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
