<div class="layout">
  <mat-toolbar class="layout-header" color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>MALBEK</span>
    <div class="flex-spacer"></div>
    <button mat-button [matMenuTriggerFor]="menu">
      <span class="layout-header-username">{{ userInfo?.name }}</span>
      <mat-icon>person</mat-icon>
      <mat-icon class="arrow-down-icon">keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">      
      <button mat-menu-item (click)="handleLogout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
  <mat-drawer-container class="layout-container">
    <mat-drawer
      #drawer
      class="layout-sidebar"
      [mode]="isSmallDevice ? 'over' : 'side'"
      [(opened)]="drawerOpened"
    >
      <mat-nav-list class="layout-sidebar-navlist">
        <h3 mat-subheader>Demo Pages</h3>
        <a mat-list-item [routerLink]="'/apply'" [routerLinkActive]="'active-route'">
          <mat-icon>article</mat-icon>
          <span>Expense Managemnet</span>
        </a>
        <a mat-list-item [routerLink]="'/user'" [routerLinkActive]="'active-route'">
          <mat-icon>people</mat-icon>
          <span>User Management</span>
        </a>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Other Pages</h3>
        <a mat-list-item *ngFor="let p of fakePages; let index = index">
          <mat-icon>bookmark</mat-icon>
          <span>Fake Page {{ index + 1 }}</span>
        </a>
      </mat-nav-list>
    </mat-drawer>
    <div class="layout-content">
      <router-outlet></router-outlet>
      <div style="height: 15px; width: 100%"></div>
    </div>
  </mat-drawer-container>
</div>
