@import "../../../style/_mixin.scss";

.apply {
  position: relative;
  min-height: 75vh;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      margin-left: 10px;
    }
  }
  &-form {
    width: 95%;
    margin: 20px auto 0px;
    form {
      display: flex;
      flex-wrap: wrap;
      // justify-content: flex-start;
      width: 100%;
      & > mat-form-field {
        width: 32%;
        &:not(:nth-child(3n)) {
          margin-right: calc(4% / 2);
        }
      }
    }
    .form-btn-group {
      width: 100%;
      display: flex;

      .add-btn {
        .mat-icon {
          @include md-icon-size(18px);
        }
      }

      .search-btn {
        margin-left: 10px;
      }
    }
  }
  &-table {
    margin-top: 20px;
    width: 100%;
    table {
      width: 100%;
    }
  }

  .loading-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(17, 17, 17, 0.2);
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
}
